<nav class="bg-gray-900 shadow-md p-3 flex items-center justify-between flex-wrap">
  <div class="flex items-center justify-between w-full lg:w-auto">
    <!-- Left section: Logo -->
    <a class="text-white text-lg font-bold" routerLink="/home">E-Commerce</a>
  </div>

  <div class="w-full lg:flex lg:items-center lg:justify-between lg:w-auto">
    <!-- Right section: Auth + Cart -->
    <ul class="flex flex-col lg:flex-row items-center lg:space-x-4 w-full lg:w-auto">
      <li class="my-2 lg:my-0" *ngIf="authService.isLoggedIn()">
        <a class="text-white px-4 py-2 hover:bg-gray-700 hover:text-yellow-400 rounded transition" routerLink="/cart" routerLinkActive="font-bold border-b-2 border-yellow-400">Cart</a>
      </li>
      <li class="my-2 lg:my-0" *ngIf="authService.isAdmin()">
        <a class="text-white px-4 py-2 hover:bg-gray-700 hover:text-yellow-400 rounded transition" routerLink="/admin" routerLinkActive="font-bold border-b-2 border-yellow-400">Admin</a>
      </li>
      <li class="my-2 lg:my-0" *ngIf="!authService.isAdmin() && authService.isLoggedIn()">
        <a class="text-white px-4 py-2 hover:bg-gray-700 hover:text-yellow-400 rounded transition" routerLink="home/user-profile" routerLinkActive="font-bold border-b-2 border-yellow-400">User</a>
      </li>
      <li class="my-2 lg:my-0" *ngIf="!authService.isLoggedIn()">
        <a class="text-white px-4 py-2 hover:bg-gray-700 hover:text-yellow-400 rounded transition" routerLink="/auth/login" routerLinkActive="font-bold border-b-2 border-yellow-400">Login</a>
      </li>
      <li class="my-2 lg:my-0" *ngIf="!authService.isLoggedIn()">
        <a class="text-white px-4 py-2 hover:bg-gray-700 hover:text-yellow-400 rounded transition" routerLink="/auth/register" routerLinkActive="font-bold border-b-2 border-yellow-400">Register</a>
      </li>
      <li class="my-2 lg:my-0" *ngIf="authService.isLoggedIn()">
        <a class="text-white px-4 py-2 hover:bg-gray-700 hover:text-yellow-400 rounded transition cursor-pointer" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
