<app-carousel></app-carousel>

<div class="bg-gradient-to-r from-grey-900 to-blue-600 text-white text-center py-10 rounded-lg shadow-lg mt-4 mb-4">
  <h1 class="text-4xl font-bold mb-4">Welcome to Our Store</h1>
  <p class="text-lg">Discover amazing products and categories tailored just for you!</p>
</div>

  <div class="product-container text-center p-5 bg-gray-100">
  <!-- <h1 class="text-4xl mb-5 text-gray-800">Our Categories (Total: {{ categoryCount }})</h1> -->

  <div class="product-grid grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-5 mt-5">
    <div
      class="product-card bg-white border border-gray-300 rounded-lg p-4 shadow-md transition-transform duration-300 hover:translate-y-[-5px] hover:shadow-lg"
      *ngFor="let category of categories"
    >
      <img
        [src]="category.imageUrl"
        alt="{{ category.name }}"
        class="rounded-lg mb-3 w-[150px] h-[150px] object-cover mx-auto"
      />
      <h2 class="text-2xl text-gray-700 mb-2">{{ category.name }}</h2>
      <p class="text-gray-500 text-base mb-3">{{ category.description }}</p>
      <button
        [routerLink]="['/home/product', category.id]"
        class="bg-blue-500 text-white rounded px-4 py-2 text-base transition-colors duration-300 hover:bg-blue-700"
      >
        Visit
      </button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>